body {
/*  font-family: 'Helvetica';*/
  padding: 20px 0 0 0;
  background: #41BBFF;
  color: #2B2B2B;
}

#page {
  width: 940px;
  padding: 10px; 
  margin: 0 auto !important;
  background: white;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff
}

/* Forms */

form { overflow: inherit;}

label {
  display: block;
  margin: 10px 0 5px 0;
}

p + p {
  text-indent: 0;
}

select {
  display: inline;
}

#footer {
  margin: 0 auto;
  background: url('/images/footer_background.gif');
  height: 285px;
  width: 940px;
  padding: 0 10px;
}