body {
  font-family: 'Helvetica';
  padding: 20px 0 0 0;
  background: #005DAA;
  color: #FBFBFB;
}

#page {
  width: 970px;
  padding: 10px;
  margin: 0 auto;
}

h1 {
  color: #77D54C;
}

/* Forms */

label {
  display: block;
  margin: 10px 0 5px 0;
}