body {
/*  font-family: 'Helvetica';*/
/*  padding: 20px 0 0 0;*/
  background: #41BBFF;
  color: #2B2B2B;
}

a:link,
a:visited {
  color: #00A6E7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#page {
  width: 880px;
  padding: 30px; 
  margin: 0 auto !important;
  background: white;
}

/*h1,
h2,
h3,
h4,
h5 {
  color: #fff
}
*/
/* Forms */

form { overflow: inherit;}

label {
  display: block;
  margin: 10px 0 5px 0;
}

p + p {
  text-indent: 0;
}

select {
  display: inline;
}

#header {
  width: 100%;
  height: 160px;
  background: #ece9e2 url('/images/header_background.jpg') center top no-repeat;
}

#header .container {
  position: relative;
  width: 940px;
  height: 160px;
  margin: 0 auto;
}

#header .container #login_controls {
  position: absolute;
  right: 30px;
  bottom: 10px;
  text-align: right;
}

#footer {
  margin: 0 auto;
  background: url('/images/footer_background.gif');
  height: 285px;
  width: 940px;
}

#logo {
  position: absolute;
  left: 66px;
  display: block;
  width: 180px;
  height: 145px;
}

#whats_nudge {
  background: url('/images/whats_nudge_bg.gif') no-repeat;
  float: left;
  width: 420px;
  height: 300px;
}

#login_signup {
  background: url('/images/login_signup_bg.gif') no-repeat;
  float: right;
  width: 303px;
  height: 208px;
}

#whats_nudge,
#login_signup {
  padding: 20px;
}

#whats_nudge h3,
#login_signup h3 {
  margin: 0 0 20px;
}

#login_signup p {
  padding: 0 0 10px;
}

#login_signup label {
  float: left;
  margin: 0;
  width: 80px;
}

#login_signup input[type='text'],
#login_signup input[type='password'] {
  width: 210px;
  float: right;
}

#login_signup input[type='submit'] {
  width: 110px;
  height: 40px;
  background: url('/images/submit_button.gif');
  border: 0;
  text-indent: -9999px;
  overflow: hidden;
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}