<div id="header">
  
  <div class="container">
    <%= link_to '', root_path, :id => 'logo' %>
    <div id="login_controls">
      <% if current_user %>
      <%= link_to 'Logout', logout_path %>
    <% else %>
      <%= link_to 'Login', login_path %> OR  <%= link_to 'Sign up!', signup_path %>
    <% end %>
  </div>

  </div>
</div>